<footer>
    <div class="socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="brand">
        <i class="fa-regular fa-copyright"></i>
        Wanderlust private limited
    </div>
    <div class="info">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</footer>