<% layout('/layouts/boilerplate.ejs') -%>


<div class="row">
    <body>
  <div class="col offset-md-2">
   
    <h3 class="mb-2 mt-4">Create new Listing</h3>
    <br>
    <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3 col-md-10">
            <label for="title" class="form-label fw-semibold">Title</label>
            <input name="listing[title]" placeholder="Enter a catchy title" type="text" class="form-control" required>
            <div class="valid-feedback">
                Title looks great
              </div>
        </div>

        <div class="mb-3 col-md-10">
            <label for="description" class="form-label fw-semibold">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Please add a short description
              </div>
        </div>

        
        <div class="mb-3 col-md-10">
            <label for="image" class="form-label fw-semibold">Upload Image</label>
            <input name="listing[image]" type="file" class="form-control" required>
        </div>

    <div class="row col-md-10">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label fw-semibold">Price</label>
            <input name="listing[price]" placeholder="1200" class="form-control"  required>
            <div class="invalid-feedback">
                Please enter valid price
              </div>
        </div>
        
        <div class="mb-3 col-md-8">

            <label for="country" class="form-label fw-semibold">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid country
              </div>
        </div>
    </div>

        <div class="mb-3 col-md-10">
            <label for="location" class="form-label fw-semibold">Location</label>
            <input name="listing[location]" placeholder="Jaipur" type="text" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a valid location
              </div>
        </div>

        <button class="btn bg-dark">Create</button>
        <br>
    </form>
</div>
</body>
</div>

